<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Zvalue/fitness and nutrition gym</title>
		<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>


		</head>
	<body>
		<div class="header">
		<div class="container">
			<div class="navbar">
				<div class= "logo">
					<img src="logo.png" width="125px">
				</div>
				<nav>
					<ul>
						<li><a href="index.html">HOME</a></li>
						<li><a href="">WORKOUT PLANS</a></li>
						<li><a href="">BLOG</a></li>
						<li><a href="contact.html">CONTACT US</a></li>
					</ul>
				</nav>
				<div class="sign">
					<a href="account.html">Sign Up /</a>
					<a href="loginaccount.html">Log In</a>
				</div>
				<img src="profile.png" href="" class="profile">
				
			</div>
            </div>
		</div>
	</div>
    <!-----------------contact us -->
    <section class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62640.77917085722!2d78.61761971611371!3d11.109748626438519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baa555ec9d5f415%3A0xc7b7f64ad5c97ccd!2sTamil%20Nadu%20621004!5e0!3m2!1sen!2sin!4v1631255810158!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


    </section>
    <section class="contact-us">
        <div class="row1">
            <div class="contact-col">
                <div>
                    <i class="fa fa-home"></i>
                    <span>
                        <h5>xyz Road,Abc Buliding</h5>
                        <p>Coimbatore,TamilNadu,India</p>
                    </span>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <span>
                        <h5>+91 9500996983</h5>
                        <p>Monday to Sunday,6AM to 9PM</p>
                    </span>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <span>
                        <h5>info@fitnessgym.com</h5>
                        <p>Email us your query</p>
                    </span>
                </div>
            </div>
            <div class="contact-col">
                <form action="">
                    <input type="text" placeholder="Enter your name"required>
                    <input type="email" placeholder="Enter email address"required>
                    <input type="text" placeholder="Enter your subject"required>
                    <textarea rows="8" placeholder="Message"required></textarea>
                    <botton tupe="sumbit" class="cbtn">send messsage</botton>
                </form>
            </div>
        </div>
    </section>
	
	
	<!----------------footer ----------->
	<div class="footer">
		<div class="container1">
			<div class="row3">
				<div class="footer-col-1">
					<h3> Download our app</h3>
					<p> download app for android and ios moblie phone</p>
                    <div class="store">
						<img src="store.png">
					</div>
				</div>
				<div class="footer-col-2">
					<img src="logo.png" width="150px">				</div>
				
					<div class="footer-col-3">
						<h3> Useful links</h3>
						<ul>
							<li>Coupons</li>
							<li>Return Policy</li>
							<li>Join Affiliate</li>
						</ul>
						
					</div>
					<div class="footer-col-4">
						<h3>Follow Us</h3>
						<ul>
							<li>facebook</li>
							<li>Twitter</li>
							<li>Instagram</li>
							<li>Youtube</li>
						</ul>
				</div>
			</div>
			<hr>
			<div class="mark"></div><p>Copy-right 2021 - zvalue company</p>
		</div>
	</div>
	</body>
	</html>				

