<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Zvalue/fitness and nutrition gym</title>
		<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">


		</head>
	<body>
		<div class="header">
		<div class="container">
			<div class="navbar">
				<div class= "logo">
					<img src="logo.png" width="125px">
				</div>
				<nav>
					<ul>
						<li><a href="index.html">HOME</a></li>
						<li><a href="">WORKOUT PLANS</a></li>
						<li><a href="">BLOG</a></li>
						<li><a href="contact.html">CONTACT US</a></li>
					</ul>
				</nav>
				<div class="sign">
					<a href="account.html">Sign Up /</a>
					<a href="loginaccount.html">Log In</a>
				</div>
				<img src="profile.png" href="" class="profile">
				
			</div>
            <div class="account">>
			<div class="row">
				<div class="col-2">
                    <img src="imag1.png" width="90%" height="90%">
                </div>
				<div class="col-2">
					<div class ="form-container">
                        <div class="form-btn">
                            <span >Login</span>
                            <span >Sign up</span>
                            <hr id="Endicator">
                        </div>
                        <form id ="loginform" >
                            <input type="text" placeholder="Username">
                            <input type="password" placeholder="password">
                            <button type="submit" class="btn">Login</button><br>
                            <a href="">Forget password</a>
                        </form>
                    </div>
				</div>
			</div>
            </div>
		</div>
	</div>
	
	
	<!----------------footer ----------->
	<div class="footer">
		<div class="container1">
			<div class="row3">
				<div class="footer-col-1">
					<h3> Download our app</h3>
					<p> download app for android and ios moblie phone</p>
                    <div class="store">
						<img src="store.png">
					</div>
				</div>
				<div class="footer-col-2">
					<img src="logo.png" width="150px">				</div>
				
					<div class="footer-col-3">
						<h3> Useful links</h3>
						<ul>
							<li>Coupons</li>
							<li>Return Policy</li>
							<li>Join Affiliate</li>
						</ul>
						
					</div>
					<div class="footer-col-4">
						<h3>Follow Us</h3>
						<ul>
							<li>facebook</li>
							<li>Twitter</li>
							<li>Instagram</li>
							<li>Youtube</li>
						</ul>
				</div>
			</div>
			<hr>
			<div class="mark"></div><p>Copy-right 2021 - zvalue company</p>
		</div>
	</div>
    </script>
	</body>
	</html>				