<!DOCTYPE html>
<html lang="en">

    <head>
     <meta charset="UTF-8"/>
     <meta http-equiv="X-UA-compatible" content="IE=edge"/>
     <meta name="viewport" content="width=device-width,initial scale=1.0"/>   
        <title>
            Z VALUE - FITNESS AND NURITION</title>
            <meta name ="viewport" content="with=device-width,initial scale=1.0">
            <link rel="stylesheet" href="style1.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family==Poppins:wght@100;200;300;600;700&display=swap" rel="stylesheet"/>
    </head>
<body>
    <section class="header">
    <div class="title">
        <img src="logo.png">
        </div>
    
    
      <div class="content"> 
        <h1> WORKOUT PLANS</h1>
        <p> The workouts are very essential to have a healthy life and great physique.
            
            <br><br>‘What hurts today makes you stronger tomorrow.’ </p>
        <a href =""class ="bas-btn">INFO</a>
        <a href =""class= "mem-btn">MEMBERSHIP</a>
    </div>

    </section>


    
    <section class="workouts">
        <h1>Workouts Available</h1>
        <p>Workout  plans availablle for the specific people as basic or specific .</p>

        <div class="row">
            <div class="course-col">
                <h3>Information </h3>
                <p> Informations about workout plans avaiable for people who just started workouts  and other related inforamtion.
                   <br> informations on basic whole body exercises<br>Tips in body maintenance <br>Weight loss/gain ideas 
                       
                   </body>
                </p>
            </div>
            <div class="course-col">
                <h3>Membership Plans</h3>
                <p>Workout plans avaiable for specific purposes and customized diet plans are also avaiable.
                   <br>Basic<br>Intermediate <br>Supreme 
                </p>
            </div>
        </div>

    </section>
</body>
    </html>
