<!DOCTYPE html>
<html lang="en">

    <head>
     <meta charset="UTF-8"/>
     <meta http-equiv="X-UA-compatible" content="IE=edge"/>
     <meta name="viewport" content="width=device-width,initial scale=1.0"/>   
        <title>
            Z VALUE - FITNESS AND NURITION</title>
            <meta name ="viewport" content="with=device-width,initial scale=1.0">
            <link rel="stylesheet" href="style3.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family==Poppins:wght@100;200;300;600;700&display=swap" rel="stylesheet"/>
    </head>

<body>
    <section class="header">

        
        
          <div class="content"> 
            <h1> WORKOUT PLANS</h1>
            <p> The workouts are very essential to have a healthy life and great physique.
                
                <br><br>‘What hurts today makes you stronger tomorrow.’ </p>
            
        </div>
    
        </section>
    <section class="pricing">
        <div class="cards-wrapper">
            <div class="price-card clr-1" >
                <div class="price-container">
                <div class="price">
                    <span>RS</span>
                    <span>1000</span>
                </div>
                </div>
                <h4 class="plan"><span>basic</span></h4>
                <div class="deliverable-wrapper">
                <div class="deliverable">
                    <span>basic upper body workout</span>
                    <span><i class="fas fa-check"></i></span>
                </div>
                <div class="deliverable">
                    <span>basic core exercises</span>
                    <span><i class="fas fa-check"></i></span>
                </div>
                <div class="deliverable">
                    <span>basic cardio workouts</span>
                    <span><i class="fas fa-times"></i></span>
                </div>
                <div class="deliverable">
                 <span><i class="fas fa-times"></i></span>
                </div>
                </div>
                <div class="align-center">
                    <a href="#" class="btn">Purchase</a>
                </div>
                <div>
            <div class="price-card clr-2" >
                <div class="price-container">
                <div class="price">
                    <span>Rs</span>
                    <span>2000</span>
                </div>
                </div>
                <h4 class="plan"><span>Intermediate</span></h4>
                <div class="deliverable-wrapper">
                <div class="deliverable">
                    <span> workouts for specific purpose </span>
                    <span><i class="fas fa-check"></i></span>
                </div>
                <div class="deliverable">
                    <span>diet plan available </span>
                    <span><i class="fas fa-check"></i></span>
                </div>
                <div class="deliverable">
                    <span>specific time allotment</span>
                    <span><i class="fas fa-times"></i></span>
                </div>
                <div class="deliverable">
                 <span><i class="fas fa-times"></i></span>
                </div>
                </div>
                <div class="align-center">
                    <a href="#" class="btn">Purchase</a>
                </div>
            </div>
                <div class="price-card clr-3" >
                        <div class="price-container">
                        <div class="price">
                            <span>RS</span>
                            <span>3000</span>
                        </div>
                        </div>
                        <h4 class="plan"><span>supreme</span></h4>
                        <div class="deliverable-wrapper">
                        <div class="deliverable">
                            <span>customized Diet plan</span>
                            <span><i class="fas fa-check"></i></span>
                        </div>
                        <div class="deliverable">
                            <span>Special Time Allotment</span>
                            <span><i class="fas fa-check"></i></span>
                        </div>
                        <div class="deliverable">
                            <span>Specific Coach for Members</span>
                            <span><i class="fas fa-times"></i></span>
                        </div>
                        <div class="deliverable">
                         <span><i class="fas fa-times"></i></span>
                        </div>
                        </div>
                        <div class="align-center">
                            <a href="#" class="btn">Purchase</a>
                        </div>
                    </div>
        
    </section>
</body>
</html>